@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-background-color: #1d242d;
  --primary-text-color: #1d242d;

  --status-PENDING: #f2f2f2;
  --status-SHIPPING: #d6eefb;
  --status-DELIVERED: #d4f9d0;
  --status-CANCELLED: #fcd9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Catamaran";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background-color: #e2e7e8; */
  background: white;
  text-decoration: none;

  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px;
  background-color: #edf2f8;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-text-color);
  border-radius: 10px;
}
